#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_worm
#build/wormd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_worm)

DEB_INSTALL_EXAMPLES_wormd += debian/examples/*
DEB_INSTALL_MANPAGES_wormd += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix wormd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f worm-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake worm-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_worm
	src/test_worm

# Ensure wrapper is set executable
binary-post-install/wormd:
	chmod +x $(cdbs_curdestdir)usr/bin/wormd
binary-post-install/worm-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/worm-qt
