[Desktop Entry]
Encoding=UTF-8
Name=worm
Comment=worm P2P Cryptocurrency
Comment[fr]=worm, monnaie virtuelle cryptographique pair à pair
Comment[tr]=worm, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/worm-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/worm80.xpm
MimeType=x-scheme-handler/worm;
Categories=Office;
